<div class="row">
  <div class="col-md-6">
    <div style="letter-space: -8px">
    <% if @product.photos.present? %>
      <% @photos.each_with_index do |p, index| %>

        <% if index == 0 %>
          <%= image_tag(p.avatar.medium.url, class: "thumbnail wow rollIn", data: {wow_delay: "0.5s"} )%>
        <% end %>

        <% if index < 4 %>
          <%= image_tag p.avatar.mini.url %>
        <% end %>

      <% end %>

    <% else %>
      <%= image_tag("http://placehold.it/400x400&text=No Pic", class: "thumbnail") %>
    <% end %>
    </div>
  </div>

  <div class="col-md-6">
    <h2><%= @product.title %></h2>
    <div style="height: 100px;">
      <p>
        <%= @product.description %>
      </p>
    </div>
    <div>
      数量: <%= @product.quantity %>
    </div>
    <div class="product-price">
      ￥ <%= @product.price %>
    </div>
    <div class="pull-right">
      <% if @product.quantity.present? && @product.quantity > 0 %>
        <%= link_to("加入购物车", add_to_cart_product_path(@product), :method => :post, :class => "btn btn-primary btn-lg btn-danger") %>
      <% else %>
        已销售一空，无法购买
      <% end %>
    </div>
  </div>
</div>

<div id="getting-started"></div>
<script type="text/javascript">
  $('#getting-started').countdown("<%= Time.zone.now + 2.days %>", function(event) {
    $(this).html(event.strftime('%d days %H:%M:%S'));
  });
</script>
